<a href="https://colab.research.google.com/github/sunmer12345/2022_AI_DL_Class/blob/main/AI_DL_0225.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# test

In [ ]:
# -*- coding: utf-8 -*-
x = input('Enter your name:')
print('Hello, ' + x)

Enter your name:asdasd
Hello, asdasd

In [ ]:
a = input("請輸入：")
a

請輸入：100

'100'

In [ ]:
type(a)

str

In [ ]:
b=int(a)+1
b

101

In [ ]:
a = eval(input("請輸入："))
a

b=a+1
b

請輸入：a

2

In [ ]:
a,b = eval(input("請輸入兩個數位："))
a,b

請輸入兩個數位：12,12

(12, 12)

In [ ]:
x, y, z = [int(x) for x in input("Enter three value: ").split()] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

x, y, z = [int(x) for x in input("Enter three value: ").split(",")] 
print("First Number is: ", x) 
print("Second Number is: ", y) 
print("Third Number is: ", z) 
print()

a, b = input("Enter a two value: ").split() 
print("First number is {} and second number is {}".format(a, b)) 
print()

Enter three value: 12 13 14
First Number is:  12
Second Number is:  13
Third Number is:  14

Enter three value: 15,16,17
First Number is:  15
Second Number is:  16
Third Number is:  17

Enter a two value: 18 19
First number is 18 and second number is 19

In [ ]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [ ]:
a = -3 % 5
a

2

In [ ]:
### 取商、餘數的函式
a = divmod(-3,5)
a

(-1, 2)

In [ ]:
x = 5
print(x > 3 and x < 10)

True

In [ ]:
decrypted = 150815**1941%435979
decrypted

133337

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]

a = list1[1]
b = list1[-2]
c = list1[1:3]
a,b,c

(33, 32, [33, 14])

In [ ]:
a = dict(one=1, two=2, three=3)
b = {'one': 1, 'two': 2, 'three': 3}
c = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
d = dict([('two', 2), ('one', 1), ('three', 3)])
e = dict({'three': 3, 'one': 1, 'two': 2})
f = dict({'one': 1, 'three': 3}, two=2)
a == b == c == d == e == f

True

In [ ]:
list1=range(10)
print(list1)

print(list(list1))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
for n in range(10):
    #print(n, end='@')
    print(n, end=',')

0,1,2,3,4,5,6,7,8,9,

In [ ]:
numbers = [21, 4, 35, 1, 8, 7, 3, 6, 9]
my_numbers = []

for number in numbers:
  if (number % 2 == 0): 
    my_numbers.append(number)

print(my_numbers)

[4, 8, 6]

In [ ]:
total = i = 1

n = int(input("請輸入正整數 n 的值：")) # 再問一次:為什麼要加

while(i<=n):
    total *= i  
    i+=1      

print("%d!=%d" % (n, total))

請輸入正整數 n 的值：5
5!=120

In [ ]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def sort(number1, number2):
    if number1 < number2:
        return number1, number2
    else:
        return number2, number1

num1, num2 = sort(31, 25)

print("num1 is", num1)
print("num2 is", num2)

num1 is 25
num2 is 31